<div class="container">
  <div class="flex justify-start mb-12 bg-white">
    <%= link_to edit_user_registration_path do %>
      <div class="relative">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class:"h-32 w-32 rounded-full", id: 'userAvatar'%>
        <% else %>
          <span class="inline-block h-32 w-32 overflow-hidden rounded-full bg-gray-100">
            <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
              <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </span>
        <% end %>
        <span class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></span>
      </div>
    <% end %>
    <%= link_to edit_user_registration_path, class:"flex flex-col justify-center" do %>
      <div class="ml-4 flex flex-col justify-center">
        <h3><%= @user.first_name || 'Update' %> <%= @user.last_name || 'Profile' %></h3>
      </div>
    <% end %>
    <%= link_to 'Edit', edit_user_registration_path, class: "mt-6 text-gray-400" %>
  </div>
  <div class="bg-white">
    <div class="flex justify-between">
      <h2>My Resources</h2>
    </div>
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">My Resources</h2>
      <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
        <%= render 'shared/empty_resource_grid_item' %>
        <% @user.resources.each do |resource| %>
          <%= render 'shared/resource_grid_item', resource: resource %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="flex justify-between">
      <h2>My Purchases</h2>
    </div>
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">My Purchases</h2>
      <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
        <% @user.purchased_resources.each do |resource| %>
          <%= render 'shared/resource_grid_item', resource: resource %>
        <% end %>
      </div>
    </div>
  </div>
</div>
