<div class="container">
  <div class="flex justify-start mb-12 bg-white">
    <%= link_to edit_user_registration_path do %>
      <div class="relative">
        <img class="h-32 w-32 rounded-full" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
        <span class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></span>
      </div>
    <% end %>
    <%= link_to edit_user_registration_path, class:"flex flex-col justify-center" do %>
      <div class="ml-4 flex flex-col justify-center">
        <h3><%= @user.first_name || 'Porter' %> <%= @user.last_name || 'McBride' %></h3>
        <p class="ml-2"><%= @user.subject.title.capitalize || 'Economics' %> - Grade <%= @user.grade_level || 9 %></p>
      </div>
    <% end %>
    <%= link_to 'Edit', edit_user_registration_path, class: "mt-6 text-gray-400" %>
  </div>
  <div class="bg-white">
    <div class="flex justify-between">
      <h2>My Resources</h2>
    </div>
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">My Resources</h2>
      <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
        <%= render 'shared/empty_resource_grid_item' %>
        <% @user.resources.each do |resource| %>
          <%= render 'shared/resource_grid_item', resource: resource %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="flex justify-between">
      <h2>My Purchases</h2>
    </div>
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">My Purchases</h2>
      <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
        <% @user.transactions.each do |transaction| %>
          <%= render 'shared/resource_grid_item', resource: transaction.resource %>
        <% end %>
      </div>
    </div>
  </div>
</div>
