<h1 class="my-8">Update account</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),class: "space-y-8 divide-y divide-gray-200", html: { method: :put }, data: {turbo: false}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="space-y-8 divide-y divide-gray-200">
    <div>
      <div class="mb-8">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Profile</h3>
      </div>
      <label for="photo" class="block text-sm font-medium text-gray-700">Update your profile picture</label>
      <div class="mt-1 flex items-center">
        <span class="h-12 w-12 overflow-hidden rounded-full bg-gray-100">
          <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
            <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
        </span>
        <%= f.file_field :avatar, class:"ml-5 rounded-md border border-gray-300 bg-white py-2 px-3 text-sm font-medium leading-4 text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
      </div>
    </div>
  </div>
</div>
<div class="pt-8">
  <div>
    <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
    <p class="mt-1 text-sm text-gray-500">Use a permanent address where you can receive mail.</p>
  </div>
  <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
    <div class="sm:col-span-3">
      <%= f.label :first_name, class:"block text-sm font-medium text-gray-700"  %>
      <div class="mt-1">
        <%= f.text_field :first_name, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>
    </div>
    <div class="sm:col-span-3">
      <%= f.label :last_name, class:"block text-sm font-medium text-gray-700"  %>
      <div class="mt-1">
        <%= f.text_field :last_name, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>
    </div>
    <div class="sm:col-span-3">
      <%= f.label :email, class:"block text-sm font-medium text-gray-700"  %>
      <div class="mt-1">
        <%= f.email_field :email, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>
    </div>
    <div class="sm:col-span-3">
      <%= f.label :current_password,'Current Password*', class:"text-sm font-medium text-gray-700"  %>
      <span class="text-xs text-gray-400">(Must enter your current password to save changes)</span>
      <div class="mt-1">
        <%= f.password_field :current_password, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>
    </div>
    <div class="pt-5">
      <div class="flex justify-end">
        <button type="button" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
        <button type="submit" class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button>
      </div>
    </div>
  <% end %>
