<!--
# Table name: resources
#
#  id            :bigint           not null, primary key
#  price         :float
#  title         :string
#  created_at    :datetime         not null
#  updated_at    :datetime         not null
#  media_type_id :bigint           not null
#  subject_id    :bigint           not null
#  user_id       :bigint           not null
-->
<%= form_for @resource, class:"space-y-6 " do |f| %>
  <div class="container bg-white px-4 py-5 shadow sm:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">New Resource</h3>
        <p class="mt-1 text-sm text-gray-500">This information will be displayed publicly in the Teacher Market</p>
      </div>
      <div class="mt-5 space-y-6 md:col-span-2 md:mt-0">
        <%# <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%# <%= hidden_field_tag :media_type_id, 1 %>
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-6 lg:col-span-4">
            <label class="block text-sm font-medium text-gray-700">Photo</label>
            <div class="mt-1 flex items-center space-x-5">
              <span class="inline-block h-12 w-12 overflow-hidden rounded-full bg-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full text-gray-300" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>
              </span>
              <%= f.file_field :photo, class: "relative cursor-pointer rounded-md bg-white font-medium text-violet-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-violet-500 focus-within:ring-offset-2 hover:text-violet-500" %>
            </div>
          </div>
          <div class="col-span-6 sm:col-span-6 lg:col-span-2">
            <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
            <%= f.number_field :price, in: 1..100, step: 0.01%>
          </div>
          <div class="col-span-6 sm:col-span-6 lg:col-span-4">
            <label for="resource_title" class="block text-sm font-medium text-gray-700">Resource Title</label>
            <div class="mt-1 flex rounded-md shadow-sm">
              <input type="text" name="resource[title]" id="title" class="block w-full flex-1 rounded-none rounded-r-md border-gray-300 focus:border-violet-500 focus:ring-violet-500 sm:text-sm" placeholder="Supply and Demand Activity..">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-6 lg:col-span-2">
            <label for="subject" class="block text-sm font-medium text-gray-700">Subject</label>
            <%= f.collection_select :subject_id, Subject.order(:title), :id, :title, class:"mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
          </div>
          <div class="col-span-6">
            <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
            <div class="mt-1">
              <%= f.text_area :description, size: "80x3", class:"block w-full rounded-md border-gray-300 shadow-sm focus:border-violet-500 focus:ring-violet-500 sm:text-sm", placeholder: 'Add a short description of your resource' %>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <p class="mt-2 text-sm text-gray-500">Brief description of your resource</p>
            </div>
          </div>
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Attach Resource</label>
          <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
            <div class="space-y-1 text-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v6m3-3H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
              </svg>
              <div class="flex text-sm text-gray-600">
                <%= f.label 'Upload your resource(s)', :resource_files, class: "hidden relative cursor-pointer rounded-md bg-white font-medium text-violet-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-violet-500 focus-within:ring-offset-2 hover:text-violet-500"%>
                <%= f.file_field :resource_files, multiple: true, class: "relative cursor-pointer rounded-md bg-white font-medium text-violet-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-violet-500 focus-within:ring-offset-2 hover:text-violet-500" %>
              </div>
              <p class="text-xs text-gray-500">DOC, XLSX, PPT or PDF up to 10mb</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex pt-8 justify-end mb-12">
    <button type="button" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2">Cancel</button>
    <button type="submit" class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-violet-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2">Save</button>
  </div>
<% end %>
