<div id="<%= dom_id resource %>" class="bg-white p-6 shadow-sm rounded overflow-hidden">
<p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= resource.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= resource.price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this resource", resource, class: "btn btn-primary" %>
    <%= link_to 'Edit this resource', edit_resource_path(resource), class: "btn btn-secondary" %>
    <hr class="mt-6">
  <% end %>
</div>